@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  border-radius: 12px;
  margin: 10px; }

.cards {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 2rem;
  margin: 5px;
  flex-wrap: wrap; }

main {
  background-image: url(../assets/images/Carpas.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  flex-wrap: wrap; }

.menu {
  display: flex;
  justify-content: center; }

nav ul {
  text-align: center; }

a:link,
a:visited,
a:active {
  text-decoration: none; }

nav ul li {
  padding: 15px;
  margin: 5px;
  color: #7b10f5;
  display: inline-block; }

.productos {
  display: flex;
  justify-content: center;
  margin: 8px;
  flex-wrap: wrap; }

#legend {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: bold;
  color: #d3c0c0; }

.dirección {
  font-size: 0, 5rem;
  font-family: cursive;
  font-weight: bold; }

.formulario {
  color: #81cccc;
  font-weight: bold; }

h2 {
  color: #13da13;
  text-align: center;
  font-family: cursive; }

p {
  text-align: center;
  color: #df9526;
  font-style: italic;
  font-weight: bolder;
  font-size: 15px;
  margin: 5px; }

footer {
  font-style: unset;
  font-size: 0, 5rem;
  text-align: center;
  flex-wrap: wrap; }

footer ul {
  margin-top: 1px;
  margin-bottom: 1px; }

@media (max-width: 480px) {
  .carousel {
    display: none; } }
