@font-face {
    font-family: "";
    src: url();
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 2fr 2fr ;
    grid-template-rows: 2fr 3fr 2fr ;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer"
    ;
}
header {
    grid-area: header;
}

 main {
    grid-area: main;
    
 }

 footer {
    grid-area: footer ;
 }
 

main {
    background-image: url(../assets/images/Fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    flex-wrap: wrap;   
}


nav ul {
    text-align: center;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

nav ul li {
    padding: 15px;
    margin: 5px ;
    color: rgb(13, 13, 212);
    display: inline-block;
}

div {
    display: flex;
    justify-content: center;
    margin: 8px;
    flex-wrap: wrap;
}

#legend {
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(211, 192, 192)
}

.dirección {
    font-size: 1rem;
    font-family: cursive;
    font-weight: bold;
}

.formulario {
    color: rgb(129, 204, 204);
    font-weight: bold;

}

.navegación {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgba(235, 210, 100, 0.377);
    color: coral;
}

h2 {
    color: rgb(250, 219, 171);
    text-align: center;
    font-family: cursive;
}

p {
    text-align: center;
    color: white;
    font-style: italic;
    font-weight: bolder;
    font-size: 22px;
}   

footer {
    font-style: unset;
    font-size: 1rem;
    text-align: center;
} 

footer ul {
    margin-top: 5px;
    margin-bottom: 5px;
}