* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border-radius: 12px;
    margin: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 2rem;
    margin: 5px;
    flex-wrap: wrap;
}

main {
    background-image: url(../assets/images/Carpas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    justify-content: center;

}


nav ul {
    text-align: center;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

nav ul li {
    padding: 15px;
    margin: 5px;
    color: rgb(123, 16, 245);
    display: inline-block;
}


.productos {
    display: flex;
    justify-content: center;
    margin: 8px;
    flex-wrap: wrap

}

#legend {
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(211, 192, 192)
}

.dirección {
    font-size: 0, 5rem;
    font-family: cursive;
    font-weight: bold;
}

.formulario {
    color: rgb(129, 204, 204);
    font-weight: bold;

}

.navegación {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgba(235, 210, 100, 0.377);
    color: coral;
}

h2 {
    color: rgb(219, 49, 20);
    text-align: center;
    font-family: cursive;
}

p {
    text-align: center;
    color: rgb(230, 169, 78);
    font-style: italic;
    font-weight: bolder;
    font-size: 15px;
    margin: 5px;
}

footer {
    font-style: unset;
    font-size: 0, 5rem;
    text-align: center;
    flex-wrap: wrap;
}

footer ul {
    margin-top: 1px;
    margin-bottom: 1px;
}

@media (max-width:480px) {
    .carousel {
        display: none;
    }

}